
*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

html {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: radial-gradient(circle, #222 0%, #111 100%);;
}

body {
    font-size: 1.25rem;
    max-width: 64em;
    width: 100vw;
    background-color: #1117;
    padding: 1em;
    margin: 1em;
    cursor: default;
}

body, body * {
    color: #fff;
}

.files {
    margin-inline: .5em;
}

.file {
    user-select: none;
}

a:hover {
    text-decoration-thickness: 3px;
}

.disabled {
    color: #999;
}