
*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Noto Sans Mono";
}

html {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: radial-gradient(circle, #222 0%, #111 100%);;
}

body {
    font-size: 1rem;
    max-width: 64em;
    width: 100vw;
    background-color: #1117;
    padding: 1em;
    margin: 1em;
    border-radius: .75em;
    cursor: default;
}

body, body * {
    color: #fff;
}

hr {
    --lineWidth: .25em;
    border: calc(var(--lineWidth) / 2) solid currentColor;
    border-radius: 1em;
}

.files {
    margin-inline: .5em;
}

.file {
    user-select: none;
}

a:hover {
    text-decoration-thickness: 3px;
}

.disabled {
    color: #999;
}